<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="product">
      <h2 data-cy="productDetailsHeading">{{ product.pro_name }}</h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><strong>Nom du produit</strong></dt>
        <dd>
          <span>{{ product.pro_name }}</span>
        </dd>

        <dt><strong>Description</strong></dt>
        <dd>
          <span>{{ product.pro_description }}</span>
        </dd>

        <dt><strong>Prix</strong></dt>
        <dd>
          <!-- Gestion de la promotion et du prix -->
          <span *ngIf="product.pro_price">
            <span *ngIf="product.pro_promotion && product.pro_promotion > 0">
              <!-- Affichage du prix avec promotion -->
              <div>
                <s>{{ product.pro_price | currency: 'EUR' : 'symbol' : '1.0-0' }}</s>
                <span>{{
                  product.pro_price - (product.pro_price * product.pro_promotion) / 100 | currency: 'EUR' : 'symbol' : '1.0-0'
                }}</span>
              </div>
            </span>
            <span *ngIf="!product.pro_promotion || product.pro_promotion === 0">
              <!-- Affichage sans promotion -->
              <div>{{ product.pro_price | currency: 'EUR' : 'symbol' : '1.0-0' }}</div>
            </span>
          </span>
          <span *ngIf="!product.pro_price">
            <!-- Si pas de prix disponible -->
            <div>No Promo</div>
          </span>
        </dd>

        <dt><strong>Promotion</strong></dt>
        <dd>
          <span>{{ product.pro_promotion }}%</span>
        </dd>

        <dt><strong>Marque</strong></dt>
        <dd>
          <span>{{ product.pro_mark }}</span>
        </dd>

        <dt><strong>Sous-catégorie</strong></dt>
        <dd *ngIf="product.subCategory">
          <div>
            {{ product.subCategory?.catt_name }}
          </div>
        </dd>
      </dl>

      <div class="d-flex justify-content-between mt-3">
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;Retour
        </button>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-success mt-3" (click)="addToCart()">Ajouter au panier</button>
