<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-10">
    <h1 data-cy="paymentTitle" jhiTranslate="payment.title">Payment</h1>
    <form class="form" (ngSubmit)="sendForms()" [formGroup]="paymentForm">
      <div class="mb-3">
        <label class="adress-label" for="address" jhiTranslate="global.form.address.label">Delivery address</label>
        <input
          type="text"
          class="form-control"
          name="address"
          id="address"
          placeholder="Delivery address"
          formControlName="address"
          #address
          data-cy="address"
        />
        <div *ngIf="paymentForm.get('address')?.invalid && paymentForm.get('address')?.touched" class="text-danger">
          <small *ngIf="paymentForm.get('address')?.errors?.['required']">Address is required.</small>
          <small *ngIf="paymentForm.get('address')?.errors?.['maxlength']">Address cannot be longer than 600 characters.</small>
        </div>
      </div>
      <div class="mb-3">
        <label class="phoneNumber-label" for="phoneNumber" jhiTranslate="global.form.phoneNumber.label">Phone number</label>
        <input
          type="text"
          class="form-control"
          name="phoneNumber"
          id="phoneNumber"
          placeholder="Phone number (7XXXXXXXXX)"
          formControlName="phoneNumber"
          #phoneNumber
          data-cy="phoneNumber"
        />
        <div *ngIf="paymentForm.get('phoneNumber')?.invalid && paymentForm.get('phoneNumber')?.touched" class="text-danger">
          <small *ngIf="paymentForm.get('phoneNumber')?.errors?.['required']">Phone number is required.</small>
          <small *ngIf="paymentForm.get('phoneNumber')?.errors?.['pattern']">Phone number must be 10 digits.</small>
        </div>
      </div>
      <div class="payment-fields">
        <div class="mb-3">
          <label class="cartNumber-label" for="cartNumber" jhiTranslate="global.form.cartNumber.label">Cart Number</label>
          <input
            type="text"
            class="form-control"
            name="cartNumber"
            id="cartNumber"
            placeholder="Cart Number"
            formControlName="cartNumber"
            #cartNumber
            data-cy="cartNumber"
          />
          <div *ngIf="paymentForm.get('cartNumber')?.invalid && paymentForm.get('cartNumber')?.touched" class="text-danger">
            <small *ngIf="paymentForm.get('cartNumber')?.errors?.['required']">Card number is required.</small>
            <small *ngIf="paymentForm.get('cartNumber')?.errors?.['pattern']">Card number must be 16 digits.</small>
          </div>
        </div>
        <div class="mb-3">
          <label class="dateExpiration-label" for="dateExpiration" jhiTranslate="global.form.dateExpiration.label">Expiration date</label>
          <input
            type="text"
            class="form-control"
            name="dateExpiration"
            id="dateExpiration"
            placeholder="Expiration date (MM/YY)"
            formControlName="dateExpiration"
            #dateExpiration
            data-cy="dateExpiration"
          />
          <div *ngIf="paymentForm.get('dateExpiration')?.invalid && paymentForm.get('dateExpiration')?.touched" class="text-danger">
            <small *ngIf="paymentForm.get('dateExpiration')?.errors?.['required']">Expiration date is required.</small>
            <small *ngIf="paymentForm.get('dateExpiration')?.errors?.['pattern']">Expiration date format should be MM/AA.</small>
          </div>
        </div>
        <div class="mb-3">
          <label class="nameCarte-label" for="nameCarte" jhiTranslate="global.form.nameCarte.label">Cardholder</label>
          <input
            type="text"
            class="form-control"
            name="nameCarte"
            id="nameCarte"
            placeholder="Cardholder"
            formControlName="nameCarte"
            #nameCarte
            data-cy="nameCarte"
          />
        </div>
        <div class="mb-3">
          <label class="codeCart-label" for="codeCart" jhiTranslate="global.form.codeCart.label">Cart code</label>
          <input
            type="text"
            class="form-control"
            name="codeCart"
            id="codeCart"
            placeholder="Cart code"
            formControlName="codeCart"
            #codeCart
            data-cy="codeCart"
          />
          <div *ngIf="paymentForm.get('codeCart')?.invalid && paymentForm.get('codeCart')?.touched" class="text-danger">
            <small *ngIf="paymentForm.get('codeCart')?.errors?.['required']">Security code is required.</small>
            <small *ngIf="paymentForm.get('codeCart')?.errors?.['pattern']">Security code must be 3 digits.</small>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary payment-forms-button" data-cy="submit" jhiTranslate="login.form.button">Pay</button>
    </form>
  </div>
</div>
