<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-image-pro-heading" data-cy="ImageProCreateUpdateHeading" jhiTranslate="supermatechApp.imagePro.home.createOrEditLabel">
        Create or edit a Image Pro
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="supermatechApp.imagePro.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let imgP_PathRef = editForm.get('imgP_Path')!;
        <div class="mb-3">
          <label class="form-label" for="field_imgP_Path" jhiTranslate="supermatechApp.imagePro.imgP_Path">Img P Path</label>
          <input type="text" class="form-control" name="imgP_Path" id="field_imgP_Path" data-cy="imgP_Path" formControlName="imgP_Path" />
          @if (imgP_PathRef.invalid && (imgP_PathRef.dirty || imgP_PathRef.touched)) {
            <div>
              @if (editForm.get('imgP_Path')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('imgP_Path')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let pro_idRef = editForm.get('pro_id')!;
        <div class="mb-3">
          <label class="form-label" for="field_pro_id" jhiTranslate="supermatechApp.imagePro.pro_id">Pro Id</label>
          <input type="number" class="form-control" name="pro_id" id="field_pro_id" data-cy="pro_id" formControlName="pro_id" />
          @if (pro_idRef.invalid && (pro_idRef.dirty || pro_idRef.touched)) {
            <div>
              @if (editForm.get('pro_id')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('pro_id')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_product" jhiTranslate="supermatechApp.imagePro.product">Product</label>
          <select
            class="form-control"
            id="field_product"
            data-cy="product"
            name="product"
            formControlName="product"
            [compareWith]="compareProduct"
          >
            @if (!editForm.get('product')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (productOption of productsSharedCollection; track $index) {
              <option [ngValue]="productOption">{{ productOption.pro_name }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['product'])!.invalid && (editForm.get(['product'])!.dirty || editForm.get(['product'])!.touched)) {
          <div>
            @if (editForm.get(['product'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
