<div class="wrapper-payment-confirmation">
  <div class="container-image-payment-confirmation">
    <img src="../../../../../content/images/agreement.png" />
  </div>
  <div class="container-payment-confirmation">
    <div class="container-payment-confirmation-title">
      <img src="../../../../../content/images/okIcon.png" />
      <h1>Merci d'avoir acheté chez nous !</h1>
    </div>
    <div class="container-payment-confirmation-order">
      <b>Votre numéro de commande est {{ orderId }}</b>
    </div>
    <div class="container-payment-confirmation-info">
      <p>Et ensuite ?</p>
      <ul>
        <li>La commande sera traitée après la confirmation de votre paiement.</li>
        <li>N'hésitez pas à nous contacter si vous avez des questions !</li>
      </ul>
    </div>
    <a routerLink="/" class="container-payment-confirmation-button">ACCUEIL</a>
  </div>
</div>
