<div class="wrapper-payment-confirmation">
  <div class="container-image-payment-confirmation">
    <img src="../../../../../content/images/agreement.png" />
  </div>
  <div class="container-payment-confirmation">
    <div class="container-payment-confirmation-title">
      <img src="../../../../../content/images/okIcon.png" />
      <h1>Thank you for shopping with us!</h1>
    </div>
    <div class="container-payment-confirmation-order">
      <b>Your order number is {{ orderId }}</b>
    </div>
    <div class="container-payment-confirmation-info">
      <p>What's next?</p>
      <ul>
        <li>The order will be processed after your payment is confirmed.</li>
        <li>Please, feel free to contact us if you have any questions!</li>
      </ul>
    </div>
    <a routerLink="/" class="container-payment-confirmation-button">HOME</a>
  </div>
</div>
