<!doctype html>
<html class="no-js" lang="en">
  <head>
    <!-- Basic page needs
        ============================================ -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Supermartech</title>
    <meta name="description" content="" />
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- FONTS  -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600italic,300italic,700" rel="stylesheet" type="text/css" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <!-- modernizr JS  -->
    <script src="../../../../content/hope/js/vendor/modernizr-2.8.3.min.js"></script>
    <style>
      .filter_box {
        border: 1px solid #ccc;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
        background-color: #f9f9f9;
        width: 300px;
        margin-bottom: 20px;
      }

      .price_range,
      .brand_filter {
        margin-bottom: 15px;
      }

      input[type='number'] {
        width: 100px;
        padding: 5px;
        font-size: 16px;
        margin-bottom: 10px;
      }

      select {
        width: 220px;
        padding: 5px;
        font-size: 16px;
      }

      .search_button {
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <!--Start breadcrumbs area -->
    <div class="breadcrumbs_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcrumb-single">
              <ul id="breadcrumbs">
                <li>
                  <a href="#"><i class="fa fa-home"></i>Accueil</a>
                </li>
                <li><span>Ι</span></li>
                <li>Produits</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End breadcrumbs area -->
    <!--Start clothing product area -->
    <div class="container">
      <div class="row row-cols-2">
        <div class="col" style="width: 30%">
          <div class="catagory_price_color">
            <div class="priceing_area">
              <div class="info_widget">
                <div class="filter_box">
                  <h2>PRICE</h2>
                  <div class="price_range">
                    <input type="number" id="min_price" placeholder="Min Price" value="156" />
                    <input type="number" id="max_price" placeholder="Max Price" value="433" />
                  </div>

                  <h2>MARQUE</h2>
                  <div class="brand_filter">
                    <select [(ngModel)]="selectedMark" (change)="filterProductsByMark()">
                      <option value="">Toutes les marques</option>
                      <option *ngFor="let mark of distinctProMarks" [value]="mark">{{ mark }}</option>
                    </select>
                  </div>

                  <button class="search_button" onclick="searchFilters()">Search</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
          </div>
        </div>
        <div class="col" style="width: 70%">
          <div class="catagory_banner">
            <div class="my_tabs">
              <ul class="tab_style nav-tabs nav border-0">
                <li>
                  <a class="active" data-bs-toggle="tab" href="/"
                    ><span><i class="fa fa-th"></i></span
                  ></a>
                </li>
              </ul>
              <div class="tab-content tab_content_style">
                <div id="tab1" class="tab-pane fade show active">
                  <div>
                    <h2 id="page-heading" data-cy="ProductHeading">
                      <span jhiTranslate="supermatechApp.product.home.title">Products</span>
                    </h2>

                    @if (products?.length === 0) {
                      <div class="alert alert-warning" id="no-result">
                        <span jhiTranslate="supermatechApp.product.home.notFound">No Products found</span>
                      </div>
                    }
                  </div>
                  <div class="row row-col-3" *ngIf="filteredProducts.length > 0">
                    <div class="col" *ngFor="let product of filteredProducts; trackBy: trackId">
                      <div class="product_list">
                        <div class="single_product home-product-info">
                          <!-- Product Image -->
                          <a [routerLink]="['/product', product.id, product.pro_name]" target="main"> </a>

                          <!-- Product Details -->
                          <div class="product_details">
                            <h2>{{ product.pro_name }}</h2>
                            <p>
                              <!-- Regular Price -->
                              <span class="regular_price" *ngIf="product.pro_promotion && product.pro_promotion > 0">
                                <s>{{ product.pro_price | currency }}</s>
                              </span>
                              <span class="regular_price" *ngIf="!(product.pro_promotion && product.pro_promotion > 0)">
                                {{ product.pro_price | currency }}
                              </span>

                              <!-- Discounted Price -->
                              <span class="popular_price">
                                <ng-container *ngIf="product.pro_promotion && product.pro_promotion > 0; else noPromotion">
                                  {{
                                    (product.pro_price || 0) - ((product.pro_price || 0) * (product.pro_promotion || 0)) / 100 | currency
                                  }}
                                </ng-container>
                                <ng-template #noPromotion>
                                  {{ product.pro_price | currency }}
                                </ng-template>
                              </span>
                            </p>
                          </div>

                          <!-- Product Rating -->
                          <div class="product_detail">
                            <div class="star_icon">
                              <i class="fa fa-star" *ngFor="let star of [].constructor(getFullStars(product.pro_mark))"></i>
                              <i class="fa fa-star-half-o" *ngIf="hasHalfStar(product.pro_mark)"></i>
                            </div>

                            <!-- Action Buttons -->
                            <div class="product_button">
                              <div class="cart_details">
                                <a href="#" target="blank" (click)="addToCart(product)">Add to cart</a>
                              </div>
                              <div class="cart_details">
                                <a [routerLink]="['/product', product.id, product.pro_name]"><i class="fa fa-expand"></i></a>
                              </div>
                            </div>
                          </div>

                          <!-- Sale Label -->
                          <div class="sale_product" *ngIf="product.pro_promotion && product.pro_promotion > 0">
                            <h5>Sale</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pagination and Item Count -->
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>

    <!--End clothing product area -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- jQuery UI JS -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../../../../content/hope/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS -->
    <script src="../../../../content/hope/js/bootstrap.min.js"></script>
    <!-- Mobile menu JS -->
    <script src="../../../../content/hope/js/jquery.meanmenu.js"></script>
    <!-- jquery.easing js -->
    <script src="../../../../content/hope/js/jquery.easing.1.3.min.js"></script>
    <!-- knob circle js -->
    <script src="../../../../content/hope/js/jquery.knob.js"></script>
    <!-- fancybox JS -->
    <script src="../../../../content/hope/fancy-box/jquery.fancybox.pack.js"></script>
    <!-- price slider JS  -->
    <script src="../../../../content/hope/js/price-slider.js"></script>
    <!-- nivo slider JS -->
    <script src="../../../../content/hope/js/jquery.nivo.slider.pack.js"></script>
    <!-- wow JS -->
    <script src="../../../../content/hope/js/wow.js"></script>
    <!-- nivo-plugin JS -->
    <script src="../../../../content/hope/js/nivo-plugin.js"></script>
    <!-- scrollUp JS -->
    <script src="../../../../content/hope/js/jquery.scrollUp.js"></script>
    <!-- carousel JS  -->
    <script src="../../../../content/hope/js/owl.carousel.min.js"></script>
    <!-- plugins JS  -->
    <script src="../../../../content/hope/js/plugins.js"></script>
    <!-- main JS  -->
    <script src="../../../../content/hope/js/main.js"></script>
  </body>
</html>
