.home-product-info {
  display: flex;
  gap: 70px;
}
.brand-filter-list {
  list-style: none;
}
.search_button {
  padding: 9px !important;
}

a.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.filter_box {
  border: none !important;
  background-color: #f3f3f3 !important;
  margin: 20px 0 !important;
  padding: 30px !important;
  border-radius: 12px !important;
  .filter-price-box,
  .filter-brand-box,
  .filter-promo-box {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 12px;
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px !important;
  }
  .filter-price-box {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
  }
  .filter-promo-box {
    display: block;
    text-align: justify;
  }
}

.price_range {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  .price-range-input {
    border-radius: 8px;
    border: none;
    padding: 15px;
    width: 100%;
    background-color: #f3f3f3;
  }
}
.filter-brand-checkbox-container {
  text-align: justify;
  background-color: #f9f9f9;
  padding: 15px;
  padding-top: 0;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.custom-checkbox-input {
  height: 22px !important;
  position: absolute;
  width: 22px !important;
  cursor: pointer;
  align-items: center;
}

.filter-action-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-weight: 600;
  margin: 40px 0;
  button {
    border-radius: 20px;
  }
}

.custom-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 15px;

  jhi-item-count {
    font-size: 16px;
    color: #333;
    text-align: center;
  }
}

::ng-deep ngb-pagination {
  .page-item {
    border-radius: 50%;
    margin: 0 5px;

    &.active {
      .page-link {
        background-color: #333 !important;
        color: #fff !important;
        border: none !important;
      }
    }
    .page-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border: none;
      background-color: #f2f2f2;
      color: #333;
      font-size: 14px;
      line-height: 40px;

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }

  .page-item.disabled .page-link {
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
  }
  .pagination {
    padding: 0;
    margin: 0;
  }
}
