<!doctype html>
<html class="no-js" lang="en">
  <head>
    <!-- Basic page needs
        ============================================ -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Supermartech</title>
    <meta name="description" content="" />
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- FONTS  -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600italic,300italic,700" rel="stylesheet" type="text/css" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <!-- modernizr JS  -->
    <script src="../../../../content/hope/js/vendor/modernizr-2.8.3.min.js"></script>
    <style>
      .product_details h2,
      .product_details img {
        opacity: 1;
        transition: opacity 0.3s ease;
        z-index: 1;
      }

      .product_button {
        opacity: 0;
        transition: opacity 0.3s ease;
        color: black;
      }

      /* Show buttons on hover */
      .single_product.home-product-info:hover .product_button {
        opacity: 1;
      }

      /* Hover effect for the entire product card */
      .single_product.home-product-info:hover {
        background-color: #f1f1f1; /* Light gray background when hovering */
      }

      .filter_box {
        border: 1px solid #ccc;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
        background-color: #f9f9f9;
        margin-bottom: 20px;
      }

      .price_range,
      .brand_filter {
        margin-bottom: 15px;
      }

      input[type='number'] {
        width: 100px;
        padding: 5px;
        font-size: 16px;
        margin-bottom: 10px;
      }

      select {
        width: 220px;
        padding: 5px;
        font-size: 16px;
      }

      .search_button {
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
      }

      img.product-image.out-of-stock {
        filter: blur(5px);
        opacity: 0.6;
        transition:
          filter 0.3s ease,
          opacity 0.3s ease;
      }

      .promo-icon {
        width: 36px !important;
        height: 36px !important;
        margin-left: 0px !important;
      }
    </style>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <!--Start breadcrumbs area -->
    <div class="breadcrumbs_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcrumb-single">
              <ul id="breadcrumbs">
                <li>
                  <a style="font-size: 12px" href="/"><i class="fa fa-home"></i>Accueil</a>
                </li>
                <li>
                  <span style="color: red; font-size: 10px"> Produits </span>
                </li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End breadcrumbs area -->
    <!--Start clothing product area -->
    <div class="container">
      <div class="row row-cols-2">
        <div class="col" style="width: 35%">
          <div class="">
            <div class="">
              <div class="">
                <div class="filter_box">
                  <div class="brand_filter mb-3">
                    <!-- Botão para abrir/fechar a lista -->
                    <button
                      type="button"
                      (click)="toggleBrandFilterDropdown()"
                      aria-expanded="isBrandFilterOpen"
                      class="filter-brand-box"
                      [ngStyle]="{
                        'border-bottom-left-radius': isBrandFilterOpen ? '0' : '12px',
                        'border-bottom-right-radius': isBrandFilterOpen ? '0' : '12px',
                      }"
                    >
                      Marque
                      <span class="float-right">{{ isBrandFilterOpen ? '▲' : '▼' }}</span>
                    </button>

                    <!-- Lista de marcas (simula um dropdown/accordion) -->
                    <div class="filter-brand-checkbox-container" *ngIf="isBrandFilterOpen">
                      <div *ngFor="let brand of allBrands" class="form-check">
                        <input
                          class="form-check-input custom-checkbox-input"
                          type="checkbox"
                          [id]="brand"
                          [value]="brand"
                          (change)="updateBrandFilter($event, brand)"
                          [checked]="selectedBrands.includes(brand)"
                        />
                        <label style="margin-left: 5px" class="form-check-label" [for]="brand">
                          {{ brand | uppercase }}
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="filter-price-box mb-3">
                    <p>Prix</p>
                    <div class="price_range">
                      <input
                        class="price-range-input"
                        (change)="updateMinPrice($event)"
                        type="number"
                        id="min_price"
                        placeholder="Prix Min (€)"
                      />
                      <input
                        class="price-range-input"
                        (change)="updateMaxPrice($event)"
                        type="number"
                        id="max_price"
                        placeholder="Prix Max (€)"
                      />
                    </div>
                  </div>
                  <div class="filter-promo-box mb-3 form-check">
                    <input class="custom-checkbox-input" type="checkbox" (change)="updatePromoFilter($event)" [checked]="promoFilter" />
                    <label style="margin-left: 28px" class="form-check-label"> Promotion uniquement </label>
                  </div>
                  <div class="filter-price-box pb-4 mb-3">
                    <label for="addedAfter">Ajouté depuis</label>
                    <input
                      id="addedAfter"
                      type="date"
                      class="form-control"
                      (change)="updateAddedAfterFilter($event)"
                      [ngModel]="inputDateNewItens | date: 'yyyy-MM-dd'"
                    />
                  </div>
                  <div class="filter-action-container">
                    <button style="background-color: #afafaf" class="search_button" (click)="clearFilters()">Effacer les filtres</button>
                    <button class="search_button" (click)="onSearchFiltersClicked()">Apliquer les filtres</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
          </div>
        </div>
        <div class="col" style="width: 65%">
          <div class="catagory_banner">
            <div class="my_tabs">
              <!-- <ul class="tab_style nav-tabs nav border-0">
                <li>
                  <a data-bs-toggle="tab" href="/"
                    ><span><i class="fa fa-th"></i></span
                  ></a>
                </li>
              </ul> -->
              <div class="tab-content tab_content_style">
                <div id="tab1">
                  <div>
                    <h2 id="page-heading" data-cy="ProductHeading">
                      <span>{{ subCategoryName }}</span>
                    </h2>

                    @if (filteredProducts.length === 0) {
                      <div class="alert alert-warning" id="no-result">
                        <span>Pas de produits disponibles</span>
                      </div>
                    }
                  </div>
                  <div class="row row-col-3" *ngIf="filteredProducts.length > 0">
                    <div class="col" *ngFor="let product of filteredProducts; trackBy: trackId">
                      <div class="product_list">
                        <div class="single_product home-product-info">
                          <!-- Product Image -->
                          <a [routerLink]="['/product', product.id, product.pro_name]" target="main"> </a>

                          <!-- Product Details -->
                          <div class="product_details">
                            <h2>{{ product.pro_name }}</h2>
                            @if (getImageByProductId(product.id)) {
                              <img
                                src="{{ getImageByProductId(product.id) }}"
                                style="width: 128px; height: 128px"
                                class="product-image"
                                [class.out-of-stock]="product?.pro_quantity === 0"
                              />
                            }

                            <p>
                              <!-- Regular Price -->
                              <span class="regular_price" *ngIf="product.pro_promotion && product.pro_promotion > 0">
                                <s>{{ product.pro_price | currency }}</s>
                              </span>

                              <!-- Discounted Price -->
                              <span class="popular_price">
                                <ng-container *ngIf="product.pro_promotion && product.pro_promotion > 0; else noPromotion">
                                  {{
                                    (product.pro_price || 0) - ((product.pro_price || 0) * (product.pro_promotion || 0)) / 100 | currency
                                  }}
                                </ng-container>
                                <ng-template #noPromotion>
                                  {{ product.pro_price | currency }}
                                </ng-template>
                              </span>
                            </p>
                          </div>

                          <!-- Product Rating -->
                          <div class="product_detail">
                            <div class="star_icon">
                              <i class="fa fa-star" *ngFor="let star of [].constructor(getFullStars(product.pro_mark))"></i>
                              <i class="fa fa-star-half-o" *ngIf="hasHalfStar(product.pro_mark)"></i>
                            </div>

                            <!-- Action Buttons -->
                            <div class="product_button">
                              <div class="cart_details">
                                <a
                                  href="#"
                                  target="blank"
                                  (click)="product?.pro_quantity != 0 ? addToCart(product) : $event.preventDefault()"
                                  [class.disabled]="product?.pro_quantity === 0"
                                  style="color: #000"
                                >
                                  Ajouter {{ product.pro_name }} au panier
                                </a>
                              </div>
                              <div class="cart_details">
                                <a [routerLink]="['/product', product.id, product.pro_name]" style="color: #000">
                                  <i class="fa fa-expand"></i> Détails du produit
                                </a>
                              </div>
                            </div>
                          </div>

                          <h2>
                            <span *ngIf="product.pro_promotion && product.pro_promotion > 0">
                              <img src="../../content/images/promo.png" alt="Promo" class="promo-icon" />
                            </span>
                          </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pagination and Item Count -->
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>

    <!--End clothing product area -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- jQuery UI JS -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../../../../content/hope/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS -->
    <script src="../../../../content/hope/js/bootstrap.min.js"></script>
    <!-- Mobile menu JS -->
    <script src="../../../../content/hope/js/jquery.meanmenu.js"></script>
    <!-- jquery.easing js -->
    <script src="../../../../content/hope/js/jquery.easing.1.3.min.js"></script>
    <!-- knob circle js -->
    <script src="../../../../content/hope/js/jquery.knob.js"></script>
    <!-- fancybox JS -->
    <script src="../../../../content/hope/fancy-box/jquery.fancybox.pack.js"></script>
    <!-- price slider JS  -->
    <script src="../../../../content/hope/js/price-slider.js"></script>
    <!-- nivo slider JS -->
    <script src="../../../../content/hope/js/jquery.nivo.slider.pack.js"></script>
    <!-- wow JS -->
    <script src="../../../../content/hope/js/wow.js"></script>
    <!-- nivo-plugin JS -->
    <script src="../../../../content/hope/js/nivo-plugin.js"></script>
    <!-- scrollUp JS -->
    <script src="../../../../content/hope/js/jquery.scrollUp.js"></script>
    <!-- carousel JS  -->
    <script src="../../../../content/hope/js/owl.carousel.min.js"></script>
    <!-- plugins JS  -->
    <script src="../../../../content/hope/js/plugins.js"></script>
    <!-- main JS  -->
    <script src="../../../../content/hope/js/main.js"></script>
  </body>
</html>
